<!DOCTYPE html>
<html lang="es">

<head>
    
    <!-- metas and lynks -->
    <%- include('../partials/metasBasics') %>
    <link rel="stylesheet" href="/css/user/styleProfile.css">
    <title>Mi perfil</title>
</head>

<body>
	<!-- metas and lynks -->
    <%- include('../partials/header') %>
	<!--perfil y logout -->


	<!-- Container -->
	<main>

		<div class="contentProfile">
            <form class="formUpdate" action="/user/profile" method="POST" enctype="multipart/form-data">
                <div class="titleProfile">INFORMACIÓN PERSONAL</div>
                <img class="imgProfile" src="/img/users/<%= locals.user.image %> ">
				<br>
				<br>

                <div class="errorsList">
					<% if (typeof errorsList !='undefined') { %>
                    <% errorsList.forEach(element => { %>
                        <div class="error">- <%= element.msg %></div>
                    <% }) %> 
                    <% } %> 
                </div>
				<label for="nick">Nick</label>
                <input type="text" name="nick" id="nick" placeholder="Ingresa tu usuario" disabled value="<%= locals.user.nick %>"> 
                <label for="email">Email</label>
				<input type="email" name="email" id="email" placeholder="Ingresa tu correo" disabled value="<%= locals.user.email %>" >
                <label for="firstName">Nombres</label>
				<input type="text" name="firstName" id="firstName" placeholder=""    value="<%= (locals.user.firstName)?locals.user.firstName:'' %>" > 

				<label for="lastName">Apellidos</label>
				<input type="text" name="lastName" id="lastName" placeholder=""    value="<%= (locals.user.lastName)?locals.user.lastName:'' %>" > 

				<label for="address">Dirección</label>
				<input type="text" name="address" id="address" placeholder=""    value="<%= (locals.user.address)?locals.user.address:'' %>" > 
                <label for="type">Tipo de usuario</label>
				<input type="text" name="" id="type" placeholder="" disabled value="<%= (locals.user.type)?locals.user.type.name:'' %>" > 

                <snap class="file">Cambiar imagen de perfil:<input class="input-file" name="img-perfil" id="img-update" type="file"></snap>
                <button type="submit">Actualizar</button>
            </form>
        </div>

	</main>
	<!-- //Container -->
	
    <%- include('../partials/footer') %>
    <script src="/js/user/update.js"></script>
</body>
</html>